<table class="table testbox">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Rôle</th>
      <th scope="col">Credit</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let professor of professors">
      <td>{{ professor.id }}</td>
      <td>{{ professor.name }}</td>
      <td>{{ professor.email }}</td>
      <td>{{ professor.roles[0]?.name }}</td>
      <td>{{ professor.credits }}</td>
      <td class="text-center">
        <ng-container *ngIf="professor.roles[0]?.name !== 'PROFESSOR'; else disabledLink">
          <a (click)="activerProfessor(professor.id)" class="btn btn-outline-info">Activer</a>
        </ng-container>
        <ng-template #disabledLink>
          <span class="btn btn-outline-info disabled">Activer</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>

  
