<div class="container">
    <form>
      <div class="mb-3">
        <label for="question" class="form-label mt-3">Nouvelle Question</label>
        <input type="text" class="form-control" id="question" name="question" placeholder="Votre question">
      </div>
  
      <div class="mb-3">
        <label for="level" class="form-label">Niveau</label>
        <select class="form-select" id="level" name="level">   

          <!-- Add other options as needed -->
        </select>
      </div>
  
      <div class="mb-3">
        <label for="questionType" class="form-label">Type de Question</label>
        <select class="form-select" id="questionType" name="questionType">
          <option value="NORMAL">Normal</option>
          <!-- Add other options as needed -->
        </select>
      </div>
      <div class="mb-3">
        <label for="fileUpload" class="form-label">Inserer Document</label>
        <div class="input-group">
          <input type="file" class="form-control" id="fileUpload" name="fileUpload" (change)="handleFileInput($event)">
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
  </div>
  