<div class="container">
  <header>
    <h1 class="text-center py-2 border-secondary border-bottom">Bienvenue {{ auth.getUser()?.name }} !</h1>
  </header>

  <div *ngFor="let question of questions; index as q">
    <span class="fw-bold">Question : {{ q + 1 }}</span>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text text-muted text-end">Créé le {{ question.questionDate | date:"dd/MM/yyyy" }}</p>

        <div class="p-2 border text-bg-light rounded mb-3">
          <p class="card-text">{{ question.question }}</p>
        </div>

        <div class="p-2 border text-bg-light rounded mb-3">
          <p class="card-text p-2 rounded"
            [ngClass]="question.questionType === 'URGENT' ? 'text-bg-danger' : 'text-bg-success'">{{
            question.questionType }}</p>
        </div>

        <div *ngFor="let doc of question.docs; index as d">
          <p>Télécharger le document: <a [href]="url_upload + doc.documentPath">{{ doc.documentName }}</a></p>
        </div>

        <div *ngFor="let response of question.responses; index as r">
          <span class="fw-medium">Réponse: {{ r + 1 }}</span>
          <div class="card mb-3">
            <div class="card-body">
              <p class="card-text text-muted">Créé le {{ response.responseDate | date:"dd/MM/yyyy" }}</p>
              <div class="p-2 text-bg-light rounded mb-3">
                <h5 class="card-title">{{ response.response }}</h5>
              </div>
            </div>
          </div>
        </div>

        <!-- lien "Répondre" -->
        <a [routerLink]="['/user/professor/response/' + question.id]" class="btn btn-primary">Répondre</a>

      </div>
    </div>
  </div>
</div>