

/**/
/**  BOOTSTRAP  **/
/**/

// 1. Incluez d'abord les fonctions (afin que vous puissiez manipuler les couleurs, les SVG, le calcul, etc.) 
@import "../node_modules/bootstrap/scss/functions";

// 2. Inclure tous les remplacements de variable par défaut ici 
//$primary: #bedefa; // modifier une couleur de bootstrap
$lovaBlue: #3a57af; // Ajouter des couleurs dans bootstrap / theme de bootstrap

// 3. Inclure le reste des feuilles de style Bootstrap requises
// variables bootstrap (dont theme-color)
@import "../node_modules/bootstrap/scss/variables"; 
@import "../node_modules/bootstrap/scss/variables-dark";

// Ajoute un nom pour la nouvelle couleur 
$custom-colors: (
    "lovaBlue" : $lovaBlue
);
// Ajoute la nouvelle couleur au theme existant.
$theme-colors: map-merge($theme-colors, $custom-colors);


// IMPORTATION de BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }