<div class="container my-5">
    <ul class="timeline">
        <li><a href="../../assets/img/eleve1.jpg" target="_blank">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/eleve1.jpg"
                        alt="..." /></div>
            </a>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Apprendre</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Certains vous diront que pour être bon élève il ne suffit pas
                        d’apprendre par cœur, mais d’avoir dans le cœur le désir d’apprendre !
                        .</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <a href="../../assets/img/cours.jpg" target="_blank">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/cours.jpg"
                        alt="..." /></div>
            </a>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Nos Valeur</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">En tant qu'éducateurs, notre engagement envers le bien-être de chaque élève
                        est fondamental. Nous croyons fermement que chaque apprenant mérite un environnement éducatif
                        sécurisé, inclusif et stimulant. Nous nous efforçons de créer une atmosphère où chaque élève se
                        sent non seulement soutenu académiquement, mais également émotionnellement.
                        Nous encourageons la collaboration, le respect mutuel et l'expression libre des idées. .</p>
                </div>
            </div>
        </li>
        <li>
            <a href="../../assets/img/3.jpg" target="_blank">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="../../assets/img/illustration_1.jpg" alt="..." /></div>
            </a>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Objectif</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Notre objectif est d'inspirer la curiosité, de cultiver la confiance en soi et
                        de favoriser une passion pour l'apprentissage.
                        Nous sommes déterminés à créer une communauté éducative où chaque élève peut s'épanouir</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <a href="../../assets/img/illustration_2.jpg" target="_blank">
                <div class="timeline-image"><img class="rounded-circle img-fluid"
                        src="../../assets/img/illustration_2.jpg" alt="..." /></div>
            </a>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Image</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Nous sommes là pour soutenir, guider et inspirer nos élèves à mesure qu'ils
                        progressent dans leur parcours éducatif, avec le bien-être de chacun comme notre priorité
                        ultime..</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/coupdemaths.png"
                        alt="..." /></div>
            </div>
        </li>
    </ul>
</div>