<table class="table testbox">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Mail</th>
      <th scope="col">Rôle</th>
      <th scope="col">Credit</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.roles[0].name }}</td>
      <td>{{ student.credits }}</td>
      <td class="text-center">
        <ng-container *ngIf="student.roles[0].name !== 'STUDENT'; else disabledLink">
          <a (click)="activerEtudiant(student.id)" class="btn btn-outline-info">Activer</a>
        </ng-container>
        <ng-template #disabledLink>
          <span class="btn btn-outline-secondary disabled">Student</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
