<table class="table testbox">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Mail</th>
        <th scope="col">Rôle</th>
        <th class="text-center">Actions</th>
      
      </tr>
    </thead>
    <tbody>
      <tr >
        <td></td>
        <td></td>
               <td></td>
        <td class="text-center">
          <a   [routerLink]="" class="btn btn-outline-info">Modifier</a>
          <a 
             class="btn btn-outline-danger m-2">Supprimer</a>
      </td>
       
      </tr>
    </tbody>
  </table>
  
